In [3]:
Grade1 = 25
Grade2 = 30
Grade3 = 28
Total = Grade1 + Grade2 + Grade3
print(Total)

83

In [11]:
Grades = [25, 30, 28]
Totals = sum (Grades)
print(Totals)

83

In [19]:
Average= Total/len (Grades)
Average= round(Average,2)
Average

27.67

In [20]:
#Question number2 
grade1mess= 'welcome to grade 1! we are excited to have you'
grade2mess= 'Hello grade 2 students! Get ready to learn and have fun'
grade3mess= "welcome grade 3 students. Let's make this a great year of learning"
print(grade2mess)

Hello grade 2 students! Get ready to learn and have fun

In [26]:
#list of grades
gradelist = ['Grade_1,Grade_2,Grade_3']
print(gradelist)

['Grade_1,Grade_2,Grade_3']

In [33]:
#list of subjects for each grade
grade1sub= ['Maths', 'English', 'Science']
grade2sub= ['English', 'Science','History']
grade3sub= ['Science','History','Maths']
subjectlist=[['Maths', 'English', 'Science'],['English', 'Science','History'],['Science','History','Maths']]
subjectlist [0][2]

'Science'

In [34]:
subjectlist

[['Maths', 'English', 'Science'],
 ['English', 'Science', 'History'],
 ['Science', 'History', 'Maths']]

In [49]:
#Dictionary
dict= {'grade1teach':{'Mr Smith','Ms Johnson', 'Mr Davis'},
       'grade2teach':{'Ms Williams', 'Mr Davis', 'Ms Brown'},
       'grade3teach':{'Ms Davis','Mr Johnson','Mr Smith'}}

In [50]:
dict

{'grade1teach': {'Mr Davis', 'Mr Smith', 'Ms Johnson'},
 'grade2teach': {'Mr Davis', 'Ms Brown', 'Ms Williams'},
 'grade3teach': {'Mr Johnson', 'Mr Smith', 'Ms Davis'}}

In [59]:
#subjects taught in grade 3
grade3sub

['Science', 'History', 'Maths']

In [ ]:
#values of Grade 2 in the dictionary